<!DOCTYPE HTML>

<body>
	<form method="POST" action="/translate">
	<label for="fromlang">fromlang</label>
		<select>
			<option value="" name="fromlang">{{.FromLang}}</option>
		</select>
		<label for="orig">orig</label>
		<textarea name="orig" placeholder="type or paste text here" required>{{.Original_Text}}</textarea>
		<label for="tolang">tolang</label>
		<select>
			<option value="" name="tolang">{{.ToLang}}</option>
		</select>
		<label>Translated_Text</label>
		<textarea>{{.Translated_Text}}</textarea>
				<input type="submit"/>

	</form>
</body>